@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

:root {
  --accent-font: "Montserrat";
  --black-color: #000000;
  --link-hover-color: #0101e6;
  --white-color: #FFFFFF;
  --top-line-bg: #1e6140;
  --text-color-title: rgba(0, 0, 0, 0.50);
  --sidebar-line: rgba(0, 0, 0, 0.10);
  --box-shadow-color: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-color-2: 0px 0px 23px 0px rgba(255, 255, 255, 0.65);
  --box-shadow-color-3: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-color-4: 0px 0px 8px rgba(0, 0, 0, 0.15);
  --border-bg: rgba(0, 0, 0, 0.20);
  --border-checkbox: #cccccc;
  --checkbox-color: #84C551;
  --top-line2-bg:rgba(255, 255, 255, 0.20);
  --item-section-bg: rgba(140, 50, 19, 0.06);
  --header-phone-border: #8C3213;
  --bonner-btn-color: #84BE51;
  --hover-btn: #E74E13;
  --main-bg: #F8F8F8;
  --placeholder-color: #484848;
  --function-transit: 0.5s ease;
  --blur-bg-red: radial-gradient(50% 50.00% at 50% 50.00%, rgba(231, 78, 19, 0.10) 0%, rgba(231, 78, 19, 0.00) 100%);
  --blur-bg-green: radial-gradient(50% 50.00% at 50% 50.00%, rgba(132, 190, 81, 0.30) 0%, rgba(210, 230, 189, 0.00) 100%);
}

.top-line {
  display: flex;
  width: 1920px;
  background: var(--top-line-bg);
  padding: 15px 0;
}

.top-line__nav {
  margin-right: 54px;
  padding-left: 404px;
}

.top-line__nav-list {
  display: flex;
  align-items: center;
}

.top-line__nav-item:not(:last-child) {
  margin-right: 50px;
}

.top-line__nav-link {
  color: var(--white-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.6;
  transition: opacity var(--function-transit);
}
.top-line__nav-link:hover {
  opacity: 1;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.selec {
  display: inline-block;
  text-decoration: none;
  color: rgb(216, 216, 216);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.hidden-select {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.hidden-select.show {
  display: block;
}

.top-line__line {
  position: relative;
  margin-right: 34px;
}

.top-line__line::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 1px;
  height: 50px;
  background: var(--top-line2-bg);
}

.authorization {
  padding-top: 3px;
}

.authorization__img {
  vertical-align: middle;
}

.authorization__btn-entry, .authorization__btn-registration {
  color: var(--white-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.6;
  background: transparent;
  border: transparent;
  transition: opacity var(--function-transit);
}
.authorization__btn-entry:hover, .authorization__btn-registration:hover {
  opacity: 1;
}

.authorization__line {
  color: var(--white-color);
  opacity: 0.6;
}

.authorization__btn-registration {
  margin-right: 0;
}

.header {
  display: flex;
  align-items: center;
  width: 1920px;
  padding: 20px 0;
}

.main-blur {
  position: absolute;
  top: -176px;
  left: 1598px;
  width: 580px;
  height: 580px;
  border-radius: 580px;
  background: var(--blur-bg-red);
  filter: blur(30px);
}

.header__logo {
  margin-right: 34px;
  padding-left: 414px;
}

.header__input-wrapper {
  position: relative;
}

.header__input {
  border-radius: 90px;
  border: 1px solid var(--border-bg);
  background: var(--white-color);
  padding: 10px 35px 10px 20px;
  margin-right: 70px;
}
.header__input::placeholder {
  color: var(--placeholder-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__custom-content {
  position: absolute;
  left: 835px;
  padding: 10px 5px;
}

.header__input-img {
  vertical-align: middle;
}

.header__phone-wrapper {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.header__phone-img {
  margin-right: 6px;
}

.header__phone-info-tel {
  display: block;
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color var(--function-transit);
}
.header__phone-info-tel:hover {
  color: var(--bonner-btn-color);
}

.header__phone-info-back {
  display: block;
  color: var(--bonner-btn-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  transition: color var(--function-transit);
}
.header__phone-info-back:hover {
  color: var(--top-line-bg);
}

.like {
  display: flex;
  align-items: center;
  padding-right: 404px;
}

.like__item:not(:last-child) {
  margin-right: 15px;
}

.like__item-price {
  color: var(--black-color);
  text-align: right;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
  margin-left: 7px;
}

.bonner {
  display: flex;
  justify-content: center;
}

.bonner__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  text-transform: uppercase;
  width: 198px;
  background: transparent;
  border-radius: 20px;
  border: 1px solid var(--top-line-bg);
  padding: 7px 14px;
  transition: all var(--function-transit);
}
.bonner__btn:not(:last-child) {
  margin-right: 26px;
}
.bonner__btn:hover {
  color: var(--white-color);
  background: var(--hover-btn);
  border: none;
}

.bonner__btn-img {
  margin-right: 9px;
}

.main {
  position: relative;
  background-image: url("../img/hero/gardener-bg.jpg");
  width: 1920px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero {
  display: flex;
  padding-top: 96px;
}

.hero__info {
  width: 605px;
  height: 262px;
  margin-top: 95px;
  margin-right: 106px;
  padding-left: 517px;
}

.hero__info-wrapp {
  display: flex;
}

.hero__info-img {
  display: block;
  margin-top: 26px;
  margin-right: 12px;
}

.hero__info-title {
  display: block;
  width: 513px;
}

.hero__info-title-acc, .hero__info-title-lin {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero__info-title-lin {
  font-weight: 300;
  margin-bottom: 28px;
}

.hero__info-text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 23px;
  margin-left: 44px;
}

.hero__info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 47px;
  color: var(--white-color);
  background: var(--hover-btn);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 90px;
  border: none;
  margin-left: 44px;
  transition: background var(--function-transit);
}
.hero__info-btn:hover {
  background: var(--header-phone-border);
}

.hero__img {
  background: var(--main-bg);
  border-radius: 200px 0 0 0;
}

.hero__img-title {
  width: 691px;
  border-radius: 200px 0 230px 0;
}

.hero__img-leaf-1 {
  position: absolute;
  top: 590px;
  left: 1074px;
}

.hero__img-leaf-2 {
  position: absolute;
  top: 690px;
  left: 1103px;
}

.hero__img-leaf-3 {
  position: absolute;
  top: 139px;
  left: 1677px;
}

.about {
  display: flex;
  width: 1920px;
  padding: 108px 0;
  background: var(--main-bg);
}

.about__img-main {
  padding-left: 286px;
  margin-right: 124px;
}

.about__img-leaf-1 {
  position: absolute;
  top: 1260px;
  left: 240px;
}

.about__img-leaf-2 {
  position: absolute;
  top: 1420px;
  left: 375px;
}

.about__info-wrapp {
  display: flex;
  margin-bottom: 25px;
}

.about__info-leaf {
  margin-top: 19px;
  margin-right: 17px;
}

.about__info-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about__info-text {
  width: 540px;
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__info-text:not(:last-child) {
  margin-bottom: 14px;
}

.about__info-text-acc {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about__info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 220px;
  height: 47px;
  border-radius: 90px;
  border: none;
  background: var(--hover-btn);
  margin-top: 37px;
  transition: background var(--function-transit);
}
.about__info-btn:hover {
  background: var(--header-phone-border);
}

.novelty {
  width: 1920px;
  background: var(--main-bg);
  padding-bottom: 120px;
}

.novelty__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}

.novelty__wrapp-img-l {
  margin-top: 20px;
  margin-right: 17px;
}

.novelty__wrapp-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 17px;
}

.novelty__wrapp-img-r {
  margin-top: 20px;
}

.novelty__content {
  display: flex;
  margin-bottom: 40px;
  padding: 0 214px;
}

.novelty__arrow-l {
  display: block;
  margin-right: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

.novelty__content-list {
  display: flex;
  margin-right: 80px;
}

.novelty__content-item {
  width: 255px;
  padding: 10px;
  border-radius: 20px;
  background: var(--white-color);
  transition: box-shadow var(--function-transit);
}
.novelty__content-item:not(:last-child) {
  margin-right: 30px;
}
.novelty__content-item:hover {
  box-shadow: var(--box-shadow-color);
}

.novelty__content-wrapp {
  display: flex;
  position: relative;
}

.novelty__content-wrapp-img-m {
  padding: 21px 79px 0 79px;
  margin-bottom: 32px;
}

.novelty__content-wrapp-img-s {
  position: absolute;
  top: 10px;
  left: 225px;
}

.novelty__content-info {
  border-radius: 20px;
  background: var(--item-section-bg);
  padding: 21px 20px;
}

.novelty__content-info-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3px;
}

.novelty__content-info-text {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.novelty__content-info-price {
  display: flex;
}

.novelty__content-info-price-wrapp {
  margin-right: 93px;
}

.novelty__content-info-price-cost {
  color: var(--bonner-btn-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1px;
}

.novelty__content-info-price-quantity {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.novelty__arrow-r {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.novelty__slider {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.promotion {
  width: 1920px;
  background: var(--top-line-bg);
  padding-top: 112px;
  padding-bottom: 120px;
}

.promotion__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}

.promotion__wrapp-img-l {
  margin-top: 20px;
  margin-right: 17px;
}

.promotion__wrapp-title {
  color: var(--white-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 17px;
}

.promotion__wrapp-img-r {
  margin-top: 20px;
}

.promotion__content {
  display: flex;
  margin-bottom: 40px;
  padding: 0 214px;
}

.promotion__arrow-l {
  display: block;
  margin-right: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

.promotion__content-list {
  display: flex;
  margin-right: 80px;
}

.promotion__content-item {
  width: 255px;
  padding: 10px;
  border-radius: 20px;
  background: var(--white-color);
  transition: box-shadow var(--function-transit);
}
.promotion__content-item:not(:last-child) {
  margin-right: 30px;
}
.promotion__content-item:hover {
  box-shadow: var(--box-shadow-color-2);
}

.promotion__content-wrapp {
  display: flex;
  position: relative;
}

.promotion__content-wrapp-img-m {
  padding: 21px 79px 0 79px;
  margin-bottom: 32px;
}

.promotion__content-wrapp-img-s {
  position: absolute;
  top: 10px;
  left: 225px;
}

.promotion__content-info {
  border-radius: 20px;
  background: var(--item-section-bg);
  padding: 21px 20px;
}

.promotion__content-info-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3px;
}

.promotion__content-info-text {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.promotion__content-info-price {
  display: flex;
}

.promotion__content-info-price-wrapp {
  margin-right: 93px;
}

.promotion__content-info-price-cost {
  color: var(--bonner-btn-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1px;
}

.promotion__content-info-price-quantity {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promotion__arrow-r {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.promotion__slider {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.promotion-btn {
  display: block;
  color: var(--white-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 220px;
  height: 47px;
  border-radius: 90px;
  border: none;
  background: var(--hover-btn);
  margin-right: auto;
  margin-left: auto;
  transition: background var(--function-transit);
}
.promotion-btn:hover {
  background: var(--header-phone-border);
}

.partner {
  width: 1920px;
  background: var(--main-bg);
  padding: 108px 0 115px 0;
}

.partner__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}

.partner__wrapp-img-l {
  margin-top: 20px;
  margin-right: 17px;
}

.partner__wrapp-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 17px;
}

.partner__wrapp-img-r {
  margin-top: 20px;
}

.partner__list {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

.partner__slider {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.partner__arrow-pag-l {
  position: absolute;
  top: 3355px;
  left: 315px;
}

.partner__arrow-pag-r {
  position: absolute;
  top: 3355px;
  left: 1535px;
}

.seed {
  width: 1920px;
  height: 100%;
  background-image: url("../img/seed/seed-bg.jpg");
  padding: 109px 0 120px 0;
}

.seed__wrapp {
  display: flex;
  margin-bottom: 16px;
  padding-left: 405px;
}

.seed__wrapp-img-l {
  margin-top: 20px;
  margin-right: 17px;
}

.seed__wrapp-title {
  color: var(--white-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.seed__list {
  width: 1110px;
  padding-left: 405px;
}

.seed__item:not(:last-child) {
  margin-bottom: 14px;
}

.seed__text {
  color: var(--white-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  position: relative;
  background: var(--white-color);
  padding-top: 120px;
}

.footer__content {
  display: flex;
  margin-bottom: 118px;
  padding-left: 405px;
}

.footer__content-logo {
  margin-right: 70px;
}

.footer__content-logo-img {
  margin-bottom: 15px;
}

.footer__content-logo-text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 221px;
}

.footer__content-info {
  margin-right: 70px;
}

.footer__content-info-title, .footer__content-contact-title, .footer__content-product-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 26px;
}

.footer__content-info-item, .footer__content-product-item {
  width: 196px;
}
.footer__content-info-item:not(:last-child), .footer__content-product-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__content-info-item-link, .footer__content-product-item-link {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color var(--function-transit);
}
.footer__content-info-item-link:hover, .footer__content-product-item-link:hover {
  color: var(--bonner-btn-color);
}

.footer__content-product {
  margin-right: 70px;
}

.footer__content-product-item {
  width: 224px;
}

.footer__content-contact-sub1 {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.footer__content-contact-sub1-img, .footer__content-contact-sub2-img {
  margin-right: 6px;
}

.footer__content-contact-sub1-s2 {
  width: 214px;
}

.footer__content-contact-sub1-s2-p, .footer__content-contact-sub2-m {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color var(--function-transit);
}
.footer__content-contact-sub1-s2-p:hover, .footer__content-contact-sub2-m:hover {
  color: var(--bonner-btn-color);
}

.footer__content-contact-sub1-s2-t {
  color: var(--bonner-btn-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  transition: color var(--function-transit);
}
.footer__content-contact-sub1-s2-t:hover {
  color: var(--top-line-bg);
}

.footer__content-contact-sub2 {
  display: flex;
  align-items: center;
}

.footer-line {
  display: block;
  width: 1110px;
  height: 1px;
  background: var(--border-bg);
  margin-left: 405px;
}

.footer-license {
  color: var(--black-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  width: 85px;
  padding: 17px 916px 10px 916px;
}

.top-btn {
  position: absolute;
  top: 390px;
  left: 1576px;
  z-index: 5;
  clip: rect(0px, 85px, 135px, 0px);
  border: none;
  background: none;
}

.top-img:hover {
  transform: scale(1.02);
}

.main__about-us {
  position: relative;
  width: 1920px;
  background: var(--main-bg);
  overflow: hidden;
}

.main__blur-up {
  position: absolute;
  top: -100px;
  left: 1542px;
  width: 713px;
  height: 713px;
  border-radius: 713px;
  background: var(--blur-bg-red);
  filter: blur(30px);
}

.about-us {
  padding: 46px 0 90px 0;
}

.about-us__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.about-us__link, .about-us__text-link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.about-us__link:hover, .about-us__text-link:hover {
  color: var(--black-color);
}

.about-us__circle {
  position: relative;
}

.about-us__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.about-us__text-link {
  font-weight: 700;
  margin-right: 0;
}

.about-us__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.about-us__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.about-us__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.about-us__img-r {
  margin-top: 19px;
}

.about-us__list {
  width: 1110px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.about-us__item:not(:last-child) {
  margin-bottom: 14px;
}

.about-us__text, .delivery__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-us__text-wrapp {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-us__subtitle {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 405px;
  margin-bottom: 16px;
}

.about-us__list-target {
  width: 760px;
  margin-bottom: 46px;
  margin-left: 434px;
}

.about-us__item-target {
  position: relative;
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.about-us__item-target::before {
  content: "►";
  position: absolute;
  left: -25px;
  color: var(--top-line-bg);
  font-size: 10px;
  padding-top: 3px;
  padding-left: 10px;
}

.main__blur-down {
  position: absolute;
  top: 1089px;
  right: 1534px;
  width: 713px;
  height: 713px;
  border-radius: 713px;
  background: var(--blur-bg-red);
  filter: blur(30px);
}

.about-us__wrapp-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
  padding-top: 23px;
}

.about-us-2__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.about-us-2__img {
  margin-bottom: 15px;
}

.about-us-2__name {
  color: var(--black-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main__delivery {
  position: relative;
  width: 1920px;
  background: var(--main-bg);
  overflow: hidden;
}

.delivery {
  padding: 46px 0 100px 0;
}

.delivery__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.delivery__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.delivery__link:hover {
  color: var(--black-color);
}

.delivery__circle {
  position: relative;
}

.delivery__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.delivery__text {
  font-weight: 700;
  margin-right: 0;
}

.delivery__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.delivery__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.delivery__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.delivery__img-r {
  margin-top: 19px;
}

.pay__title, .pickup__title, .transport__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 40px;
  margin-bottom: 12px;
  padding-left: 404px;
}

.pay__subtitle, .pickup__subtitle, .pay-2__subtitle {
  width: 1108px;
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 404px;
  margin-bottom: 15px;
}

.pay__list {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  padding-left: 40px;
}

.pay__item {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pay__item:not(:last-child) {
  margin-bottom: 14px;
}

.pay__item-text, .pickup__address-text, .pickup__clock-text, .subtransport__ukr-item, .pickup__list-item, .subtransport__meest-item, .subtransport__nova-item, .pay-3__text, .pay-3__item, .pay-2__text, .pay-2__item {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pay-2 {
  margin-bottom: 44px;
}

.pay-2__list {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;
  padding-left: 40px;
}

.pay-2__item:not(:last-child) {
  margin-bottom: 14px;
}

.pay-2__text {
  width: 1110px;
  padding-left: 424px;
}
.pay-2__text:not(:last-child) {
  margin-bottom: 14px;
}

.pay-3 {
  margin-bottom: 69px;
}

.pay-3__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
  padding-left: 404px;
}

.pay-3__title-link {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  transition: var(--function-transit);
}
.pay-3__title-link:hover {
  color: var(--bonner-btn-color);
}

.pay-3__list {
  width: 192px;
  margin-bottom: 16px;
  padding-left: 424px;
}

.pay-3__text {
  width: 1110px;
  padding-left: 404px;
}

.main-blur-midd-1 {
  position: absolute;
  top: 500px;
  right: 1560px;
  width: 1068px;
  height: 1068px;
  border-radius: 1068px;
  background: var(--blur-bg-green);
  filter: blur(30px);
}

.transport__ukr, .transport__meest, .transport__nova {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.subtransport__ukr, .subtransport__nova, .subtransport__meest {
  width: 541px;
  margin-right: 28px;
}

.subtransport__ukr-title, .subtransport__meest-title, .subtransport__nova-title {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}

.subtransport__ukr-item:not(:last-child), .pickup__list-item:not(:last-child), .subtransport__meest-item:not(:last-child), .subtransport__nova-item:not(:last-child) {
  margin-bottom: 14px;
}

.note {
  font-weight: 700;
}

.subtransport__nova-logo {
  margin-right: 28px;
}

.subtransport__nova, .subtransport__meest {
  margin-top: auto;
  margin-bottom: auto;
}

.subtransport__meest-logo {
  width: 540px;
  height: 360px;
}

.main-blur-midd-2 {
  position: absolute;
  top: 1500px;
  left: 1542px;
  width: 1060px;
  height: 1060px;
  border-radius: 1060px;
  background: var(--blur-bg-red);
  filter: blur(30px);
}

.pickup__address, .pickup__clock {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  padding-left: 402px;
}

.pickup__address-img, .pickup__clock-img {
  margin-right: 10px;
}

.pickup__clock {
  margin-bottom: 19px;
}

.pickup__list {
  width: 1110px;
  padding-left: 404px;
}

.main__blur-down-deliv {
  position: absolute;
  top: 2500px;
  right: 1560px;
  width: 1068px;
  height: 1068px;
  border-radius: 1068px;
  background: var(--blur-bg-green);
  filter: blur(30px);
}

.main__partner-about {
  position: relative;
  width: 1920px;
  background: var(--main-bg);
  overflow: hidden;
}

.partner-about {
  padding: 46px 404px 100px 404px;
}

.partner-about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.partner-about__item-wrapp {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.partner-about__img {
  margin-right: 20px;
}

.partner-about__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 236px;
}

.partner-about__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 538px;
}

.partner-about__blur-down {
  position: absolute;
  top: 709px;
  right: 1534px;
  width: 713px;
  height: 713px;
  border-radius: 713px;
  background: var(--blur-bg-red);
  filter: blur(30px);
}

.plants {
  padding: 46px 0 0 0;
}

.plants__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.plants__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.plants__link:hover {
  color: var(--black-color);
}

.plants__circle {
  position: relative;
}

.plants__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.plants__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plants__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.plants__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.plants__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.plants__img-r {
  margin-top: 19px;
}

.plants-conain {
  display: flex;
  margin-bottom: 47px;
}

.plants-conain__sidebar {
  margin-right: 30px;
  padding-left: 384px;
}

.plants-conain__sidebar-info, .plants-conain__sidebar-link-up {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.plants-conain__sidebar-wrapp-up {
  display: flex;
  width: 195px;
  border-radius: 20px;
  background: var(--white-color);
  box-shadow: var(--box-shadow-color-3);
  margin-bottom: 30px;
  padding: 26px 30px;
}

.plants-conain__sidebar-item-up:not(:last-child) {
  margin-bottom: 16px;
}

.plants-conain__sidebar-link-up {
  transition: var(--function-transit);
}
.plants-conain__sidebar-link-up:hover {
  color: var(--black-color);
}

.plants-conain__sidebar-list-up-num {
  margin-left: auto;
}

.plants-conain__sidebar-item-up-num {
  color: var(--hover-btn);
  font-family: var(--accent-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 6px;
}
.plants-conain__sidebar-item-up-num:not(:last-child) {
  margin-bottom: 18px;
}

.plants-contain__sidebar-down-wrapp {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
}

.plants-contain__sidebar-box-down {
  width: 195px;
  border-radius: 0 0 20px 20px;
  padding: 17px 30px 30px 30px;
  background: var(--white-color);
}

.plants-contain__sidebar-down-title {
  color: var(--white-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 256px;
  background: var(--bonner-btn-color);
  border-radius: 20px 20px 0px 0px;
  padding: 15px 0;
}

.plants-contain__sidebar-down-subtitle {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 13px;
}

.plants-contain__sidebar-wrapp-down {
  display: flex;
  align-items: center;
}
.plants-contain__sidebar-wrapp-down:not(:last-child) {
  margin-bottom: 19px;
}

.plants-contain__sidebar-custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; /* Hiding the original checkbox */
}

.plants-contain__sidebar-custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
  padding-left: 25px; /* padding-left for label */
}

.plants-contain__sidebar-custom-checkbox + label::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid var(--border-checkbox);
  margin-right: 10px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.plants-contain__sidebar-custom-checkbox:checked + label::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background: var(--checkbox-color);
  border-radius: 3px;
  position: absolute;
  left: 4px; /* The position of the square inside the checkbox */
  top: 4px; /* The position of the square inside the checkbox */
}

.plants-contain__sidebar-label {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plants-contain__sidebar-box-line {
  display: block;
  width: 195px;
  height: 1px;
  background: var(--sidebar-line);
  margin-bottom: 16px;
}

.plants-contain__rating-selec {
  color: var(--placeholder-color);
  font-family: var(--accent-font);
  font-size: 14px;
  width: 132px;
  border-radius: 20px;
  border: 1px solid var(--border-bg);
  background: transparent;
  margin-bottom: 10px;
  margin-left: 748px;
  padding: 3px 10px;
}

.plants-contain__rating-opt {
  color: var(--placeholder-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.plants__content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 80px;
}

.plants__content-item {
  width: 255px;
  padding: 10px;
  border-radius: 20px;
  background: var(--white-color);
  transition: box-shadow var(--function-transit);
}
.plants__content-item:hover {
  box-shadow: var(--box-shadow-color);
}

.plants__content-wrapp {
  display: flex;
  position: relative;
}

.plants__content-wrapp-img-m {
  padding: 21px 79px 0 79px;
  margin-bottom: 32px;
}

.plants__content-wrapp-img-s {
  position: absolute;
  top: 10px;
  left: 225px;
}

.plants__content-info {
  border-radius: 20px;
  background: var(--item-section-bg);
  padding: 21px 20px;
}

.plants__content-info-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3px;
}

.plants__content-info-text {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.plants__content-info-price {
  display: flex;
}

.plants__content-info-price-wrapp {
  margin-right: 93px;
}

.plants__content-info-price-cost {
  color: var(--bonner-btn-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1px;
}

.plants__content-info-price-quantity {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pagin-img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 90px;
}

.plant-about {
  width: 1920px;
  background-image: url("../img/plants/plant-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 108px 0;
}

.plant-about__info-wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.plant-about__info-leaf {
  margin-top: 19px;
  margin-right: 17px;
}

.plant-about__info-title {
  color: var(--white-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plant-about__list {
  width: 1110px;
  padding: 0 404px;
}

.plant-about__item {
  color: var(--white-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.plant-about__item:not(:last-child) {
  margin-bottom: 14px;
}

.animals {
  padding: 46px 0 0 0;
}

.animals__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.animals__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.animals__link:hover {
  color: var(--black-color);
}

.animals__circle {
  position: relative;
}

.animals__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.animals__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.animals__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.animals__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.animals__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.animals__img-r {
  margin-top: 19px;
}

.contain__price {
  display: flex;
}

.contain__price-wrapp {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3px;
}

.contain__price-area {
  width: 80px;
  height: 24px;
  border: 1px solid var(--border-checkbox);
  border-radius: 3px;
  padding: 2px 4px;
}

.contain__price-dash {
  display: block;
  align-self: center;
  color: var(--border-checkbox);
  margin-right: 1px;
  padding: 20px 2px;
}

.animals-about {
  width: 1920px;
  height: 240px;
  background-image: linear-gradient(rgba(30, 30, 37, 0.4), rgba(30, 30, 37, 0.4)), url("../img/animals/cows.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 108px 0;
}

.birds {
  padding: 46px 0 0 0;
}

.birds__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.birds__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.birds__link:hover {
  color: var(--black-color);
}

.birds__circle {
  position: relative;
}

.birds__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.birds__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.birds__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.birds__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.birds__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.birds__img-r {
  margin-top: 19px;
}

.birds-about {
  width: 1920px;
  height: 240px;
  background-image: linear-gradient(rgba(30, 30, 37, 0.4), rgba(30, 30, 37, 0.4)), url("../img/birds/birds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 108px 0;
}

.fish {
  padding: 46px 0 0 0;
}

.fish__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.fish__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.fish__link:hover {
  color: var(--black-color);
}

.fish__circle {
  position: relative;
}

.fish__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.fish__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fish__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.fish__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.fish__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.fish__img-r {
  margin-top: 19px;
}

.fish-about {
  width: 1920px;
  height: 240px;
  background-image: linear-gradient(rgba(30, 30, 37, 0.4), rgba(30, 30, 37, 0.4)), url("../img/fish/fish.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 108px 0;
}

.news {
  padding: 46px 0 90px 0;
}

.news__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.news__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.news__link:hover {
  color: var(--black-color);
}

.news__circle {
  position: relative;
}

.news__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.news__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.news__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.news__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.news__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.news__img-r {
  margin-top: 19px;
}

.news__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 404px;
}

.news__item {
  width: 350px;
}

.news__wrapp {
  position: relative;
}

.news__img-data {
  position: absolute;
  top: 36px;
  left: 0;
  color: var(--checkbox-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--white-color);
  border-radius: 0px 20px 20px 0px;
  padding: 4px 6px;
}

.news__item-title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}

.news__item-text {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 13px;
}

.more__link {
  display: flex;
  align-items: center;
}

.more__link-text {
  color: var(--checkbox-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 6px;
}

.return {
  padding: 46px 0 90px 0;
}

.return__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.return__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.return__link:hover {
  color: var(--black-color);
}

.return__circle {
  position: relative;
}

.return__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.return__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.return__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.return__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.return__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.return__img-r {
  margin-top: 19px;
}

.return__condit {
  width: 1110px;
  padding: 0 404px;
}

.return__condit-title {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.return__condit-subtitle, .return__condit-warn {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 14px;
}

.return__condit-list {
  padding-left: 20px;
}

.return__condit-list-item, .return__condit-list-num-item {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}

.return__condit-warn {
  margin-bottom: 16px;
}

.return__condit-warn-link, .return__condit-list-item-link {
  color: var(--top-line-bg);
  transition: var(--function-transit);
}
.return__condit-warn-link:hover, .return__condit-list-item-link:hover {
  color: var(--bonner-btn-color);
}

.contacts {
  padding: 46px 0 90px 0;
}

.contacts__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.contacts__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.contacts__link:hover {
  color: var(--black-color);
}

.contacts__circle {
  position: relative;
}

.contacts__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.contacts__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contacts__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.contacts__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.contacts__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.contacts__img-r {
  margin-top: 19px;
}

.contacts-condit {
  padding: 0 404px;
}

.contacts-condit__info {
  width: 1040px;
  border-radius: 20px;
  background: var(--white-color);
  box-shadow: var(--box-shadow-color-3);
  margin-bottom: 108px;
  padding: 40px;
}

.contacts-condit__info-1 {
  display: flex;
  margin-bottom: 40px;
}

.contacts-condit__subinfo-1 {
  display: flex;
  align-items: center;
}
.contacts-condit__subinfo-1:not(:last-child) {
  margin-right: 95px;
}

.contacts-condit__subinfo-1-img, .contacts-condit__subinfo-2-img {
  margin-right: 11px;
}

.contacts-condit__subinfo-1-text, .contacts-condit__subinfo-2-text-acc, .contacts-condit__subinfo-2-text, .contacts-condit__info-2-text, .contacts-condit__subinfo-1-link, .contacts-condit__subinfo-1-text-acc {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 245px;
}

.contacts-condit__subinfo-1-text-acc {
  font-weight: 700;
}

.contacts-condit__subinfo-1-link {
  transition: var(--function-transit);
}
.contacts-condit__subinfo-1-link:hover {
  color: var(--text-color-title);
}

.contacts-condit__info-line {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--sidebar-line);
  margin-bottom: 27px;
}

.contacts-condit__info-2-title {
  color: var(--top-line-bg);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}

.contacts-condit__info-2-text {
  width: 940px;
  margin-bottom: 20px;
}

.contacts-condit__info-2-wrapp {
  display: flex;
}

.contacts-condit__subinfo-2 {
  display: flex;
  align-items: center;
}
.contacts-condit__subinfo-2:not(:last-child) {
  margin-right: 96px;
}
.contacts-condit__subinfo-2:last-child {
  padding-left: 118px;
}

.contacts-condit__subinfo-2-text-acc {
  font-weight: 700;
}

.contacts-condit__subinfo-2-phone {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 146%;
}

.contacts-condit__form-text {
  color: var(--black-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 640px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.contacts-condit__form-inlet {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin-right: auto;
  margin-left: auto;
}

.contacts-condit__form-inlet-name, .contacts-condit__form-inlet-data {
  display: flex;
  margin-bottom: 20px;
}

.contacts-condit__form-inlet-name-relation, .contacts-condit__form-inlet-data-relation {
  width: 255px;
  border-radius: 90px;
  border: 1px solid var(--border-bg);
  background: var(--white-color);
  padding: 5px 14px;
}
.contacts-condit__form-inlet-name-relation:not(:last-child), .contacts-condit__form-inlet-data-relation:not(:last-child) {
  margin-right: 30px;
}

.contacts-condit__form-inlet-message {
  height: 100px;
  border-radius: 20px;
  border: 1px solid var(--border-bg);
  background: var(--white-color);
  margin-bottom: 30px;
  padding: 10px 14px;
  resize: none;
}

.contacts-condit__form-inlet-btn {
  color: var(--white-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 540px;
  height: 47px;
  background: var(--hover-btn);
  border-radius: 90px;
  border-color: transparent;
  transition: var(--function-transit);
}
.contacts-condit__form-inlet-btn:hover {
  background: var(--header-phone-border);
}

::placeholder {
  color: var(--placeholder-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.entry {
  padding: 46px 0 90px 0;
}

.entry__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.entry__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.entry__link:hover {
  color: var(--black-color);
}

.entry__circle {
  position: relative;
}

.entry__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.entry__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.entry__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.entry__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.entry__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.entry__img-r {
  margin-top: 19px;
}

.entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-form__text, .entry-form__data-remind {
  color: var(--black-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.entry-form__data {
  display: flex;
  flex-direction: column;
}

.entry-form__data-value {
  width: 227px;
  border-radius: 90px;
  border: 1px solid var(--border-bg);
  background: var(--white-color);
  margin-bottom: 20px;
  padding: 6px 14px;
}
.entry-form__data-value:last-child {
  margin-bottom: 10px;
}

.entry-form__data-remind {
  margin-bottom: 20px;
  color: var(--text-color-title);
  transition: var(--function-transit);
}
.entry-form__data-remind:hover {
  color: var(--black-color);
}

.entry-form__btn {
  width: 258px;
  color: var(--white-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-color: transparent;
  border-radius: 90px;
  background: var(--hover-btn);
  padding: 6px 0;
  transition: var(--function-transit);
}
.entry-form__btn:hover {
  background: var(--header-phone-border);
}

.register {
  padding: 46px 0 90px 0;
}

.register__link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.register__link {
  color: var(--text-color-title);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 30px;
  transition: var(--function-transit);
}
.register__link:hover {
  color: var(--black-color);
}

.register__circle {
  position: relative;
}

.register__circle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bonner-btn-color);
}

.register__text {
  color: var(--text-color-title);
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.register__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.register__img-l {
  margin-top: 19px;
  margin-right: 15px;
}

.register__title {
  color: var(--black-color);
  font-family: var(--accent-font);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 15px;
}

.register__img-r {
  margin-top: 19px;
}

.regiser-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regiser-form__text {
  color: var(--black-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1000px;
  margin-bottom: 30px;
}

.regiser-form__name-data, .regiser-form__connect-data {
  width: 227px;
  border-radius: 90px;
  border: 1px solid var(--border-bg);
  background: var(--white-color);
  margin-bottom: 20px;
  padding: 6px 14px;
}
.regiser-form__name-data:not(:last-child), .regiser-form__connect-data:not(:last-child) {
  margin-right: 30px;
}

.regiser-form__passw-data {
  display: block;
  width: 520px;
  border-radius: 90px;
  border: 1px solid var(--border-bg);
  background: var(--white-color);
  padding: 6px 14px;
}
.regiser-form__passw-data:not(:last-child) {
  margin-bottom: 20px;
}
.regiser-form__passw-data:last-child {
  margin-bottom: 15px;
}

.regiser-form__policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.regiser-form__policy-check {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.regiser-form__policy-text, .regiser-form__policy-link {
  color: var(--placeholder-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.regiser-form__policy-link {
  color: var(--checkbox-color);
}

.regiser-form__btn {
  width: 546px;
  color: var(--white-color);
  text-align: center;
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-color: transparent;
  border-radius: 90px;
  background: var(--hover-btn);
  padding: 6px 0;
  transition: var(--function-transit);
}
.regiser-form__btn:hover {
  background: var(--header-phone-border);
}/*# sourceMappingURL=main.css.map */