.partner {
    width: 1920px;
    background: var(--main-bg);
    padding: 108px 0 115px 0;
}

.partner__wrapp {
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
}

.partner__wrapp-img-l {
    margin-top: 20px;
    margin-right: 17px;
}

.partner__wrapp-title {
    color: var(--black-color);
    font-family: var(--accent-font);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 17px;
}

.partner__wrapp-img-r {
    margin-top: 20px;
}

.partner__list {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
}

.partner__slider {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.partner__arrow-pag-l {
    position: absolute;
    top: 3355px;
    left: 315px;
}

.partner__arrow-pag-r {
    position: absolute;
    top: 3355px;
    left: 1535px;
}