.compare-modal {
    // display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-backdrop);
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: var(--function-transit-2);

    &.active {
    // display: block;
    opacity: 1;
    visibility: visible;
    }
}

.basket__close-btn-comp {
    display: none;
    position: absolute;
    top: 10px;
    left: 1230px;
    fill: var(--white-color);
    cursor: pointer;
    transition: var(--function-transit);

    &:hover {
        fill-opacity: 0.6;
    }
}