:root {
    --accent-font: 'Montserrat';
    --black-color: #000000;
    --link-hover-color: #0101e6;
    --white-color: #FFFFFF;
    --top-line-bg: #1e6140;
    --modal-backdrop: rgba(0, 0, 0, 0.70);
    --text-color-title: rgba(0, 0, 0, 0.50);
    --sidebar-line: rgba(0, 0, 0, 0.10);
    --box-shadow-color: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
    --box-shadow-color-2: 0px 0px 23px 0px rgba(255, 255, 255, 0.65);
    --box-shadow-color-3: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    --box-shadow-color-4: rgba(0, 0, 0, 0.15);
    --border-bg: rgba(0, 0, 0, 0.20);
    --border-checkbox: #cccccc;
    --checkbox-color: #84C551;
    --top-line2-bg:rgba(255, 255, 255, 0.20);
    --item-section-bg: rgba(140, 50, 19, 0.06);
    --header-phone-border: #8C3213;
    --bonner-btn-color: #84BE51;
    --hover-btn: #E74E13;
    --main-bg: #F8F8F8;
    --placeholder-color: #484848;
    --function-transit: 0.5s ease;
    --function-transit-2: opacity 1.2s ease, visibility 1.6s ease;
    --blur-bg-red: radial-gradient(50% 50.00% at 50% 50.00%, rgba(231, 78, 19, 0.10) 0%, rgba(231, 78, 19, 0.00) 100%);
    --blur-bg-green: radial-gradient(50% 50.00% at 50% 50.00%, rgba(132, 190, 81, 0.30) 0%, rgba(210, 230, 189, 0.00) 100%);
}